/**
 * 
 * NOTE: This file is copied from: 
 * https: //github.com/arcuri82/web_development_and_api_design/blob/master/exercise-solutions/quiz-game/part-10/.babelrc
 */
{
    "presets": [
        ["env", {
            "targets": {
                "node": "current"
            }
        }], "react"
    ],
    "plugins": ["transform-class-properties"]
}